body {
  background-color: #222222;
  color: #DDDDDD;
  font-family: Arial, Helvetica, sans-serif; }

.container--rj {
  margin-left: 0;
  margin-right: 0;
  width: 96%; }

.menu-column-wrapper {
  background-color: #333333;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  overflow: auto; }

.display-column-wrapper {
  padding-top: 20px; }

textarea {
  margin-top: 10px;
  resize: none; }

.btn--rj {
  padding: 0 10px;
  font-size: 13px !important;
  background-color: #DDDDDD !important;
  width: 100%; }

.btn--rj:hover {
  background-color: #FFFFFF !important; }

textarea#output {
  color: #111111;
  background-color: #EEEEEE;
  display: block;
  width: 100%;
  height: 430px;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.33); }

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(255, 255, 255, 0.33); }
