// @import 'variables';

/* Let's get this party started */
::-webkit-scrollbar {
  margin: $scrollbar-width 0;
  width: $scrollbar-width;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: $scrollbar-width;
  border-radius: $scrollbar-width;
  background-color: $scrollbar-color;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: $scrollbar-color;
}

#output {
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color--output;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color--output;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background-color: $scrollbar-color--output;
  }
}
