@import 'variables';

body {
  background-color: $main-bg-color;
  color: $main-text-color;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-app-region: drag;
}

.container--rj {
  margin-left: 0;
  margin-right: 0;
  width: 96%;
}

.menu-column-wrapper {
  background-color: $menu-bg-color;
  box-sizing: border-box;
  padding: $padding-unit;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 3px 3px rgba(0, 0, 0, 0.25);
}

.display-column-wrapper {
  padding-top: $padding-unit;
}

textarea,
input,
button {
  -webkit-app-region: no-drag;
}

textarea {
  margin-top: 10px;
  resize: none;
}

.btn--rj {
  margin-bottom: $button-margin;
  padding: 0 $button-padding;
  font-size: 13px !important;
  color: $menu-button-color !important;
  border-color: $menu-button-color !important;
  width: 100%;
  height: $button-height;

  &:hover {
    color: $menu-button-color--hover !important;
    background-color: $menu-button-bg-color--hover;
    border-color: $menu-button-color--hover !important;
  }
}

.output {
  color: $output-text-color;
  background-color: $output-bg-color;
  display: block;
  width: 100%;
  height: 430px;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.33);
  border: none;

  &--item-picker {
    height: 300px;
  }
}

// Lots of these are very similar to the textarea.
// Throw those in a mixin?
.input--rj {
  box-sizing: border-box;
  height: $input-button-height;
  border-radius: 4px;
  color: $output-text-color;
  background-color: $output-bg-color;
  font-family: monospace;
  font-weight: normal;
  border: none;
}

.input-button {
  display: inline-block;
  color: $main-text-color;
  height: $input-button-height;
  margin-bottom: $input-button-margin;
  padding: 0 $input-button-padding;

  &:hover,
  &:active,
  &:focus, {
    color: lighten($main-text-color, 25%);
  }
}

.hidden {
  display: none;
}

@import 'scrollbar';
