$menu-bg-color: #333333;
$main-bg-color: #222222;
$main-text-color: #DDDDDD;
$main-text-color--hover: #FFFFFF;
$padding-unit: 20px;
$output-bg-color: #EEEEEE;
$output-text-color: #111111;

$scrollbar-width: 8px;
$scrollbar-track-color: rgba(255, 255, 255, 0.1);
$scrollbar-color: rgba(255, 255, 255, 0.33);
