<div class="output-panel output-panel--item-picker">
  <div class="input-group">
    <label class="input-group-label" for="<%= input.id %>"><%= input.label %></label>
    <input class="input--rj input--item-picker" type="text" id="<%= input.id %>">
    <button class="input-button input-button--item-picker">Browse</button>
  </div>
  <button class="input-button input-button--submit"><%= input.submitLabel %></button>
  <textarea class="output output--item-picker"></textarea>
</div>
